
<div id="dialogWarning" class="row alert alert-warning col-md-8 janelaMensagens invisible">
    <div class="col-md-11">
        <p id="alertText"></p>
    </div>
    <div class="col-md-1" style="float:right">
        <button id="btnCloseDialogWarning" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div id="dialogError" class="alert alert-danger col-md-8 janelaMensagens invisible">
    <div class="col-md-11">
        <p id="errorText"></p>
    </div>
    <div class="col-md-1" style="float:right">
        <button id="btnCloseDialogError" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div id="dialogSuccess" class="row alert alert-success col-md-8 janelaMensagens invisible">
    <div class="col-md-11">
        <p id="successText"></p>
    </div>
    <div class="col-md-1" style="float:right">
        <button id="btnCloseDialogSuccess" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<script src="~/js/Shared/custom-dialog.js"></script>
