
@{
    ViewData["Title"] = "Consulta_Produto";
}

<h2>Listagem dos produtos</h2>

<div class="tab-content" style="margin-top:70px">
    <div class="tab-pane active" role="tabpanel">
        <table class="table table-striped" id="tbListaProdutos">
            <thead>
                <tr>
                    <th scope="col" class="custom-center col-produtoId-produto"><strong>Id</strong></th>
                    <th scope="col" class="custom-center col-codigo-produto"><strong>Código</strong></th>
                    <th scope="col" class="custom-center col-nome-produto"><strong>Nome Produto</strong></th>
                    <th scope="col" class="custom-center col-valor-venda-produto"><strong>Preço Venda</strong></th>
                    <th scope="col" class="custom-center col-quantidade-produto"><strong>Quantidade</strong></th>
                    <th scope="col" class="custom-center col-acoes-produto"><strong>Ações</strong></th>
                </tr>
            </thead>
            <tbody class="cols-wl-center">
            </tbody>
        </table>
    </div>
</div>

<input id="urlBuscarProdutos" type="hidden" value="@Url.Action("BuscarTodosProdutos", "Itens")" />