
@{
    ViewData["Title"] = "Autenticar";
    Layout = null;
}
<html>
<head>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/jquery-1.12.2.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="login">
        <div class="alert alert-warning alertaValidacaoLogin invisible" role="alert">
        </div>

        <div class="alert alert-danger dangerValidacaoLogin invisible" role="alert">
        </div>

        <h1>Login</h1>
        <p>E-mail</p>
        <input type="text" class="LoginUsuario" placeholder="Insira seu E-mail">
        <p>Senha</p>
        <input type="password" class="SenhaUsuario" placeholder="Insira sua senha">

        <button class="btn btn-success btnAcessarSistema" style="float:right; margin-top:30%">Acessar Sistema</button>

        <a href="#"> Esqueceu sua senha?</a><br>
    </div>

    <input id="urlValidarAcesso" type="hidden" value="@Url.Action("ValidarAcesso", "Login")" />
</body>
</html>

<script src="~/js/Login/login.js"></script>